body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.forum {
  margin: 20px;
}

.forum h2 {
  color: #333;
}

.forum li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f5f5f5;
}

.create-post {
  margin: 20px;
}

.create-post h2 {
  color: #333;
}

#create-post input,
#create-post textarea {
  width: 100%;
  margin-bottom: 10px;
}

#create-post button {
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}
  .friend-links {
    background-color: #f9f9f9;
    padding: 10px;
  }

  .friend-links h3 {
    margin: 0;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }

  .friend-link-item {
    margin-bottom: 5px;
  }

  .friend-link-item a {
    text-decoration: none;
    color: #777;
    transition: color 0.3s ease;
  }

  .friend-link-item a:hover {
    color: #333;
  }
  .post-list {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.post {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.post .title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.post .content {
  font-size: 14px;
}

.post .author {
  font-size: 12px;
  color: #888;
}